<div class="container">
  <p class="text-5xl" >Hello, <%= @business.name %></p>
  <div class="container flex flex-col items-center justify-center">
    <div>
      <p>Here is your breakdown of clicks by day</p>
      <%= line_chart Business.group_by_day(:created_at).count %>
    </div>
  </div>
</div>